<header>
    <img src="/logo.svg" alt="logo" class="logo" id="logo">

    <div class="navbar">
      <nav>
        <ul>
          <% if (user) { %>
            <li>Welcome, <%= user.firstName %></li>
            <li><a href="/logout">Log out</a></li>            
            <li><a href="/">Home</a></li> 
            <li><a href="/courses">Courses</a></li>
            <% if (user.isTeacher) { %>
              <li><a href="/staff">Staff</a></li>
            <% } else { %>            
              <li><a href="/students">Students</a></li>
            <% } %>
          <% } else { %>
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup">Sign up</a></li>
          <% } %>
        </ul>
      </nav>
    </div>
      
  </header>