<header>
    <img src="/logo.svg" alt="logo" class="logo" id="logo">

    <div class="navbar">
      <nav>
        <ul>
          <li><a href="/">Home</a></li> 
          <li><a href="/courses">Courses</a></li>
          <li><a href="/students">Students</a></li>
          <li><a href="/staff">Staff</a></li>
        </ul>
      </nav>
    </div>
      
  </header>