<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/navbar.ejs") %>  

  <main class="content">
    
    <section id="welcome">
      <div class="section-inner">
        <h1>Welcome to Aardvark Valley Institute</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatum maxime beatae qui quod. Amet minus accusantium nesciunt provident, sint tempore ratione aliquam sed harum labore possimus sit laudantium nisi.</p>
      </div>
    </section>

    <section id="about-us">
      <div class="section-inner">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa non ex debitis maxime reiciendis. Totam ea quaerat unde saepe voluptatibus deserunt quia natus quo quae optio. Doloremque odit cumque voluptatum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ducimus iusto, labore, quae debitis cum, accusamus exercitationem dolore quisquam adipisci pariatur minima suscipit deserunt. At aut impedit maxime earum magni.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum nisi quaerat autem placeat, mollitia, quam recusandae beatae est voluptas deleniti adipisci molestias id error veritatis. Nulla totam sed optio eius!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At atque culpa aperiam deleniti doloremque ea corrupti pariatur eaque unde distinctio magnam, qui beatae maxime, voluptates quae dolores dolorum sit praesentium?</p>
      </div>
    </section>

    <section id="contact">
      <div class="section-inner">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur voluptas sit molestiae labore soluta suscipit sed eveniet itaque consectetur saepe accusamus nobis modi, voluptatum aspernatur inventore laudantium nemo a.</p>
        <ul class="contact-list">
          <li>Social Media</li>
          <li>Email</li>
          <li>Phone</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nesciunt, inventore quod commodi velit ratione eaque itaque cupiditate dolores error dicta!</p>
      </div>
    </section>
      
  </main>
  <%- include("./partials/footer.ejs") %>

</body>

</html>